.button {
  background: var(--pigmice-purple);
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 99in;
  color: white;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.6rem #00000059;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  text-decoration: none;

  &:hover,
  &:focus {
    background: color-mod(var(--pigmice-purple) lightness(+5%));
    box-shadow: 0.1rem 0.1rem 1rem #00000059;
  }
}
