.matchCard {
  margin: 1.2rem auto;
  width: 23rem;
  font-size: 0.93rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(auto, 10rem);
  overflow: hidden;
  text-decoration: none;
  color: inherit;

  & > time {
    grid-row: span 2;
    place-self: center end;
    font-size: 0.85rem;
    color: var(--grey-text);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.matchTitle {
  font-weight: bold;
  grid-row: span 2;
  white-space: nowrap;
  margin: 0.3rem 0.7rem;
  & > * {
    margin: 0.3rem 0;
  }
}

.matchNum {
  grid-row: 2;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  font-family: 'Roboto Condensed', 'Roboto';
  color: var(--grey-text);
}

.alliance {
  grid-column: 3;
  color: white;
  font-weight: bold;
  align-self: stretch;
  margin-left: 0.3rem;
  padding: 0.35rem 0.8rem;
  text-align: center;
  text-align-last: justify;
}

.red {
  background-color: var(--alliance-red);
}

.blue {
  background-color: var(--alliance-blue);
}
