.matchCard {
  margin: 1.2rem auto;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  width: 23rem;
  max-width: calc(100% - 2rem);
  font-size: 0.93rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  overflow: hidden;

  & > *:not(.alliance) {
    margin: 0.4rem;
  }

  & > time {
    grid-row: span 2;
    place-self: center end;
    color: var(--grey-text);
  }
}

.matchTitle {
  font-weight: 500;
  grid-row: span 2;

  & > * {
    margin: 0.4rem;
  }
}

.matchNum {
  grid-row: 2;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  font-family: 'Roboto Condensed', 'Roboto';
  color: var(--grey-text);
}

.alliance {
  grid-column: 3;
  color: white;
  font-weight: 500;
  display: flex;
  min-width: 10em;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch;

  & > div {
    padding: 0.35rem;
  }
}

.red {
  background-color: var(--alliance-red);
}

.blue {
  background-color: var(--alliance-blue);
}
