.section {
  font-weight: normal;
  text-align: center;
  font-size: 1.2rem;
}

.comments {
  margin: 1.2rem auto;
  width: 23rem;
  max-width: calc(100% - 2rem);
  padding: 1.1rem 0.5rem;

  & ul {
    margin: 0;
  }

  & li {
    padding: 0.3em 0.1em;
  }
}
