.numberInput {
  display: flex;
  align-items: center;

  & > button {
    --bg: #00000022;
    background: var(--bg);
    border: none;
    border-radius: 9in;
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;

    &:hover {
      background: color-mod(var(--bg) lightness(+30%));
    }

    &:focus {
      box-shadow: 0 0 0 3px var(--focus-ring);
    }
  }

  & > input {
    margin: 0.3rem;
    width: 2rem;
    -moz-appearance: textfield;
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
