@keyframes swipe {
  0% {
    background-position: 0;
  }
  90% {
    background-position: -200%;
  }
  100% {
    background-position: -210%;
  }
}

.cardPlaceholder {
  height: 60px;
  margin: 10px;
  background-image: repeating-linear-gradient(
    90deg,
    #000,
    #000,
    #888,
    #000,
    #000
  );
  background-size: 200%;
  border-radius: 5px;
  opacity: 0.12;
  animation: swipe 1s ease-in infinite;
}
