.input {
  display: block;
  font-size: 1rem;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
  background: transparent;
  border: 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  transition: border-bottom-color 0.2s ease;
  appearance: textfield;

  &:focus {
    border-bottom-color: purple;
    outline: none;
  }

  &:invalid {
    border-bottom-color: red;
    box-shadow: none;
  }
}
