.infoCard {
  overflow: hidden;
  flex-direction: column;
  margin: 1.2rem auto;
  width: 23rem;
  max-width: calc(100% - 2rem);
}

.row {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  border-bottom: 0.1em solid #eee;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s ease;
  white-space: nowrap;

  &[href]:hover,
  &:focus {
    background: #f1f1f1;
    outline: none;
  }

  &:last-child {
    border: none;
  }

  & svg {
    margin: 0.8em;
    flex-shrink: 0;
  }

  & path {
    fill: currentColor;
  }

  & > :last-child:not(:nth-child(2)) {
    margin-left: auto;
    min-width: 6rem;
    display: flex;
    justify-content: center;
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
