.chip {
  background: #548050;
  border-radius: 9in;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin: 0 0.2rem;
  display: inline-block;
}

.dateChip {
  background: #00000024;
  color: black;
}
