.enumSelector {
  border-radius: 0.3rem;
  display: flex;
  font-size: 0.8rem;
  background: #00000011;
  flex-direction: row;
  overflow: hidden;

  &:focus-within,
  &:active {
    box-shadow: 0 0 0px 4px var(--focus-ring);
  }

  & > label {
    cursor: pointer;
    display: flex;
  }

  & div {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
  }

  & input {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
  }

  & input:checked + div {
    background: rgba(0, 0, 0, 0.2);
  }
}
